[submodule "ZSH/Submodules/Themes/Agnoster"]
	path = ZSH/Submodules/Themes/Agnoster
	url = https://github.com/JoeIzzard/agnoster-zsh-theme.git
[submodule "Lib/Submodules/SSH-Helper"]
	path = Lib/Submodules/SSH-Helper
	url = https://github.com/JoeIzzard/SSH-Helper.git
